#following-page {
  width: 375px;
  height: 812px;
  color: white;
  background-color: black;
}

.mun-pick {
  border: none;
}

.following {
  display: inline-block;
  padding-bottom: 5px;
  border-bottom: 3px solid white;
}

header {
  margin-bottom: 24px;
}

.followers {
  display: flex;
  margin-left: 20px;
  margin-bottom: 22px;
}

.followers img {
  width: 47px;
  height: 47px;
  border-radius: 50px;
}

.follower6 {
  position: absolute;
  right: 0;
}

.follower6 img {
  display: block;
  width: 14px;
  height: 47px;
}

.follower1,
.follower2,
.follower3,
.follower4,
.follower5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 22px;
}

.followers img {
  margin-bottom: 6px;
}

.followers span {
  display: block;
  font-size: 13px;
}

.content {
  padding-left: 29px;
  background: url("./assets/images/taco.png");
  background-size: 317px 496px;
}
